<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.0.3-alpha001" targetFramework="net452" />
  <package id="Idunn.Core" version="0.9.3-beta" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="StringTemplate4" version="4.0.7.2-alpha001" targetFramework="net452" />
  <package id="YamlDotNet" version="4.2.0" targetFramework="net452" />
</packages>